# Auth
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=change-me-at-least-32-chars-long

# Base de données PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/loyer_db?schema=public"

# Reel2Recette
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"
